.add-expense-button {
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
  padding: 12px;
}

.add-expense-button_click {
  display: block;
  padding: 8px 16px;
  font-weight: bold;

  border-radius: 12px;

  background: #edb6eb;
  cursor: pointer;
}

.add-expense-button_click:hover {
  background: #eeeeee;
}
