# Environment file

# JWT secret key
# Required
# Must be >= 32 bytes
JWT_SECRET_KEY=DefaultJwtSecretKeyForFinanceTracker

# Postgres database user 
# Required
POSTGRES_USER=postgres

# Postgres database port 
# Required
POSTGRES_PORT=5432

# Postgres database password 
# Required
POSTGRES_PASSWORD=postgres

# Postgres database password 
# Required
POSTGRES_DB=FinanceTracker

# Path to directory with 'localhost.crt' and 'localhost.key' files
# Optional
# TLS_CERTS_PATH=./out/certs

# Docker image tag to pull from GHCR
# Optional
# IMAGE_TAG=latest
