.expenses-table {
  text-align: center;
  display: flex;
  overflow: visible;
  align-self: start;
  padding: 16px 20px;
  background: #eadaea;
  border-radius: 20px;
  gap: 10px;
  font-weight: bolder;
  max-width: 555px;
}

.expenses-table__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: visible;
  padding: 0px;
  background: #eadaea;
  border-radius: 20px;
  gap: 12px;
}
