.expense-details-table {
  display: grid;
  table-layout: fixed;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 1fr);
  gap: 8px;
  font-size: 10px;
  font-weight: bolder;
  max-width: (450px, 100%);
  min-width: 0;
}

.expense-details-table__header {
  margin-top: 8px;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  max-width: 100%;
  min-width: 0;
}

.expense-details-table__data {
  max-width: 100%;
  min-width: 0;
  padding: 2px 8px;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
  text-align: center;
  background-color: #eaafea;
  border-radius: 20px;
}

.expense-details-table__summary {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-column: 1 / -1;
  font-size: 10px;
  font-weight: lighter;
  font-style: italic;
  color: rgb(0, 0, 0, 0.5);
  align-items: center;
  text-align: center;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  max-width: 100%;
  min-width: 0;
}
