:root {
  --text-color: black;
  --primary-color: rgb(238, 213, 168);

  color: var(--text-color);
  background-color: var(--primary-color);

  font-family: "Paytone One", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  scrollbar-gutter: stable;
}
